# Clerk Configuration (Mock para desenvolvimento local offline)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Local Postgres Database
DATABASE_URL=

# Redis
UPSTASH_REDIS_URL=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PUBLIC_SUPABASE_BUCKET_NAME=events

